#videoContainer {
    margin: 2vw;
    height: 50vh;  /* half of the viewport  = 50vh (vh = viewport height) */
    max-width: 95vw;
    background-color: lightgray;
}



#video {
    width: 100%;
    height: 100%;
}