#report {
    display: flex;
    flex-direction: column;

    margin: 1vh 0;
    padding: 2vw;
    min-height: 25vh;
    width: calc(100vw - 10vw); /* viewport width - padding values */

    border: 1px solid lightgray;
    border-radius: 25px;
}



.reportEntry {
    display: flex;
    flex-direction: column;
}



.reportTitle {
    text-decoration: underline;
    font-size: 1.5rem;
}



.reportHeaders {
    display: flex;
    flex-direction: row;
}

.reportHeaders div {
    flex-grow: 1;
    padding: 0.5vw;
    width: 20%;

    border: 1px solid lightgray;
}



.reportList {
    display: flex;
    flex-direction: column;
}



.reportItem {
    display: flex;
    flex-direction: row;

    border: 1px solid lightgrey;
    font-size: 1rem;
}

.reportItem div {
    flex-grow: 1;
    padding: 0.5vw;
    width: 20%;
}

.reportItem:hover {
    background-color: rgb(206, 255, 167);
}