/* General styling for search route */
#results {
    display: flex;
    flex-direction: column;

    padding: 2vw;
    min-height: 30vh;
    width: calc(100vw - 10vw); /* viewport width - padding values */

    border: 1px solid lightgray;
    border-radius: 25px;
}



.dataObject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
    border-bottom: 1px solid lightgray;
    font-size: 1rem;
}

.dataObject div{
    flex: 1;
}



.dataEntry:hover {
    background-color: rgb(206, 255, 167);
}



#resultTitles {
    height: 5vh;
    width: auto;
}