<!-- This is The dashboard. It is only accessible when a user has logged in. -->

<main>
    <h3>Dashboard</h3>
    <div class="dashboard-item">Report Emails</div>
    <div class="dashboard-item">Statistics</div>
    <div class="dashboard-item">Account Settings</div>
    <div class="dashboard-item">Manage Other Accounts</div>
</main>

