<!-- This is The dashboard. It is only accessible when a user has logged in. -->

<main>
    <h3>Dashboard</h3>
    
    <div class="dashboard-item">
        <p class="dashboard-item-title">Logs</p>
        <p>View logs</p>
    </div>

    <div class="dashboard-item">
        <p class="dashboard-item-title">Automatic Emails</p>
        <br>
        <form>
            <label>Enable automatic emails?</label>
            <input type="checkbox">
            <br>
            <label>Interval</label>
            <br>
            <label>Scope</label>
            <br>
            <button type="submit">Save</button>
        </form>
        
    </div>

    <div class="dashboard-item">
        <p class="dashboard-item-title">Statistics</p>
        <p>View Statistics</p>
    </div>

    <div class="dashboard-item">
        <p class="dashboard-item-title">Account Settings</p>
        <p>Manage your account</p>
        <p>Manage other accounts</p>
    </div>
    
    
</main>

