<!DOCTYPE html>


<head>
    <title>FSO Placeholder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="media/style.css">
</head>


<body>
    <div id="page" >
        <!-- Header content goes here-->
        <header>FSO Logo</header>

        <!-- Navigation bar goes here -->
        <nav id="nav_bar">
            <!-- At the left-hand side of the header -->
            <div class="navEntry">Induction</div>
            <div class="navEntry">Search</div>
            <div class="navEntry">Reports</div>

            <!-- At the right-hand side of the header -->
            <div class="navEntry">Login</div>
            <div class="navEntry">Logout</div>
        </nav>

        <main>
            <!-- Page content goes here -->
            <p>Insert page content</p>
        </main>

        <!-- Footer content goes here -->
        <footer>@2023</footer>
    </div>
</body>


</html>