<!-- This is the page content of the induction route.
This will be inserted into the template ejs file when the
route is accessed. -->

    <main>
        <!-- Induction video goes here -->
        <div id="videoContainer">
            <video id="video "width="100%" height="100%" controls>
                <source src="/media/video.mp4" type="video/mp4">
            </video>
        </div>
    </main>

    <!-- Create a form that captures required data for storing
    the induction information and tracking its validity -->
    <p>Form goes here</p>