<!-- This is where users can search the database
to see if an individual has already performed their induction,
and if the induction has expried yet. -->

<main>
    <div id="loginBox" class="contentContainer">
        <form action="/login" method="post">
            <section>
                <label for="username" class="formLabel">Username</label>
                <input id="username" name="username" type="text" autocomplete="username" class="formInput" required autofocus>
            </section>
            <section>
                <label for="current_password" class="formLabel">Password</label>
                <input id="current_password" name="password" type="password" autocomplete="current-password" class="formInput" required>
            </section>
            <button type="submit">Sign in</button>
    </div>
</main>