<!-- This is where users can search the database
to see if an individual has already performed their induction,
and if the induction has expried yet. -->

<main>
    <div id="search" class="contentContainer">
        <h3> Select anoption from the drop down menu, and enter the value you want to search:<h3>
        <form action="/search" method="POST">
            <select id="searchOption" name="option">
                <option value="id_passport_nr">ID/Passport</option>
                <option value="full_name">Name/Surname</option>
                <option value="employee_nr">Employee Number</option>
              </select>
            <input type=" text" name="value" class="formInput" placeholder="Value" required>
            <button type="submit">search</button> 
        </form>
    </div>


    <div id="results" class="contentContainer">
        <!-- If there has been a search query, render the returned data, or an appropriate fail message-->
        <% if (!dataGiven) { %>
            <p>No data to display</p>
        <% } else if (data.length === 0 && dataGiven === true) { %>
            <p>No data for your search query has been found.</p>
        <% } else { %>
            <div class="dataObject" id="resultTitles">
                <div>Date Completed</div>
                <div>Status</div>
                <div>Full Names</div>
                <div>ID/Passport</div>
                <div>Video Watched</div>
                <div>Employee/Guest</div>
            </div>
            <% data.forEach(item => { %>
                <div class="dataObject dataEntry">
                    <div class="dateCompleted"><%= item.date_completed %></div>
                    <div class="status">-</div>
                    <div><%= item.full_name %></div>
                    <div><%= item.id_passport_nr %></div>
                    <div><%= item.video_watched %></div>
                    <div><% if (item.employee_nr) { %>
                        Employee
                    <% } else { %>
                        Guest
                    <% } %></div>
                </div>
            <% }); %>
        <% } %>
    </div>
</main>

<!-- Import the search_formatter.js script-->
<script src="scripts/search_formatter.js"></script>