<!-- This is where users can search the database
to see if an individual has already performed their induction,
and if the induction has expried yet. -->

<main>
    <div id="search" class="contentContainer">
        <h3> Enter an ID/Passport number to search for an induction record:</h3>
        <form action="/search" method="POST">
            <input type=" text" name="id_passport" class="formInput" autocomplete="ID/Passport" required>
            <button type="submit">submit</button> 
        </form>
    </div>


    <div id="results" class="contentContainer">
        <!-- If there has been a search query, render the returned data, or an appropriate fail message-->
        <% if (!dataGiven) { %>
            <p>No data to display</p>
        <% } else if (data.length === 0 && dataGiven === true) { %>
            <p>No data for your search query has been found.</p>
        <% } else { %>
            <div class="dataObject" id="resultTitles">
                <div>Date Completed</div>
                <div>Status</div>
                <div>Full Names</div>
                <div>ID/Passport</div>
                <div>Video Watched</div>
                <div>Employee/Guest</div>
            </div>
            <% data.forEach(item => { %>
                <div class="dataObject dataEntry">
                    <div class="dateCompleted"><%= item.date_completed %></div>
                    <div class="status">-</div>
                    <div><%= item.full_name %></div>
                    <div><%= item.id_passport_nr %></div>
                    <div><%= item.video_watched %></div>
                    <div><% if (item.employee_nr) { %>
                        Employee
                    <% } else { %>
                        Guest
                    <% } %></div>
                </div>
            <% }); %>
        <% } %>
    </div>
</main>

<script src="scripts/search_formatter.js"></script>