/* reset default styles of certain elements */
html, body, main,
h1, h2, h3,
p, ul, ol, li,
blockquote,
figure,
table, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100vw;
}

h1, h2, h3 {
    /* define margins for title elements */
    margin: 25px;
}

h3 {
    font-size: 3vh;
}


#videoContainer {
    margin: 2vw;
    height: 50vh;  /* half of the viewport  = 50vh (vh = viewport height) */
    max-width: 95vw;
    background-color: lightgray;
}

#video {
    width: 100%;
    height: 100%;
}

#page {
    /* define the page div as a container for all page sub-containers */
    display: flex;
    flex-direction: column;
    max-width: 100vw; /* 100vw = 100% of the viewport width */
    height: auto;
    padding: 2vw;
}


header {
    /* define the header as a container for all header sub-elements */
    display: flex;
    flex-direction: row;
    padding: 1vw 10vw;  /* top/bottom margins are 10px and left/right margins are 100px */
    max-width: calc(100vw - 20vw);  /* compensate for left and right padding. Use calc to subtract padding from the viewport width */
    /* width: 100%; */
    height: 14vh;

    /* define the style for the header and it's children */
    border-bottom: 1px solid lightgray;
    color: #343434;
    font-size: 6vw;
}

.headerFiller {
    flex-grow: 1;
}


footer {
    /* define the footer as a container for all footer sub-elements */
    display: flex;
    padding: 50px 100px; /* top/bottom margins are 50px and left/right margins are 100px */
    max-width: calc(100vw - 200px);  /* compensate for left and right padding. Use calc to subtract padding from the viewport width */
    height: 20%;

    /* define the style for the footer and it's children */
    background-color: #343434;
    border-top: 1px solid lightgray;
    color: #ffffff;
    font-family: "century Gothic";
    font-size: 13px;
}


#nav_bar {
    /* define the navigation bar div as a container for navigation elements */
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid lightgray;
}


.navElement {
    /* elements of the navigation bar */
    margin: 10px;
    box-sizing: border-box;

    border-bottom: 5px solid white;
    transition: border-bottom 0.5s ease-in-out;
}

.navElement:hover {
    border-bottom: 5px solid black;
}


.navFiller {
    /* consume remainder center space of the nav bar */
    flex-grow: 1;
}


.logo {
    height: 12vh;
}


.formLabel {
    /* make labels in a form have more margin space above and less margin space below */
    margin-top: 25px;
    margin-bottom: 10px;
    padding-left: 25px;
}

.formInput {
    /* make form input elements have less margin space above and more margin space below */
    margin-top: 10px;
    margin-bottom: 15px;
}


.contentContainer {
    /* define laybout and styling for page content containers */
    width: calc(100vw - 4vw);
}


button {
    margin-left: 25px;
    margin-top: 10px;
}


a {
    /* reset links to have no styling */
    font-size: none;
    font-family: none;
    color: black;
    font-style: none;
    text-decoration: none;
}


/* search.ejs styling */
#results {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    min-height: 50vh;
    width: calc(100vw - 10vw); /* viewport width - padding values */
    border: 1px solid lightgray;
}

.dataObject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
    border-bottom: 1px solid lightgray;
    font-size: 2vh;
}

.dataObject div{
    flex: 1;
}

.dataEntry:hover {
    background-color: lightgray;
}

#resultTitles {
    height: 5vh;
    width: auto;
}