<!-- This is a template ejs html file.
The general page data and structure is defined here,
with a space where unique page data for each route will be inserted. -->
<!DOCTYPE html>


<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">
</head>


<body>
    <!-- Header goes here-->
    <header>
        <!-- Insert logo here-->
        <div id="logo"><img src="media/logo.png" id="logo"></div>

        <!-- Consume center space -->
        <div class="headerFiller"> </div>

        <!-- Page title inserted automatically-->
        <div id="header_title"><%= title %></div>
    </header>


    <!-- Navigation bar goes here -->
    <nav id="nav_bar">
        <!-- At the left-hand side of the header -->
        <div class="navElement">Induction</div>
        <div class="navElement">Search</div>
        <div class="navElement">Reports</div>

        <!-- filler element to consume center space -->
        <div class="navFiller"> </div>

        <!-- At the right-hand side of the header -->
        <div class="navElement">Login</div>
        <div class="navElement">Logout</div>
    </nav>


    <!-- Main page content goes here-->
    <div id="page" >
        <!-- Insert page content here -->
        <%- include(contentPath) %>
    </div>


    <!-- Footer content goes here -->
    <footer>@2023 Free State Oil. A division of VKB Group.</footer>
</body>


</html>