<!DOCTYPE html>


<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="media/style.css">
</head>


<body>
    <div id="page" >
        <%- include(contentPath) %>
    </div>
</body>


</html>