/* reset default styles of certain elements */
body,
h1, h2, h3,
p, ul, ol, li,
blockquote,
figure,
table, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}


#videoContainer {
    padding : 50px;
    height: 50vh;  /* half of the viewport  = 50vh */
    background-color: lightgray;
}


#page {
    /* define the page div as a container for all page sub-containers */
    display: flex;
    flex-direction: column;

    width: 100vw; /* 100vw = 100% of the viewport width */
    height: auto;
}


header {
    /* define the header as a container for all header sub-elements */
    display: flex;
    padding: 10px 100px; /* top/bottom margins are 10px and left/right margins are 100px */
    width: 100%;
    height: 20%;

    border-bottom: 1px solid lightgray;
}


footer {
    /* define the footer as a container for all footer sub-elements */
    display: flex;
    padding: 50px 100px; /* top/bottom margins are 50px and left/right margins are 100px */
    width: 100%;
    height: 20%;

    /* define the style for the footer and it's children */
    background-color: #343434;
    border-top: 1px solid lightgray;
    color: #ffffff;
    font-family: "century Gothic";
    font-size: 13px;
}


#nav_bar {
    /* define the navigation bar div as a container for navigation elements */
    display: flex;
    flex-direction: row;
}


.navElement {
    /* elsements of the navigation bar */
    margin: 10px;
}


.navFiller {
    /* consume remainder center space of the nav bar */
    flex-grow: 1;
}

